<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="/resources/css/register.css">
    <script src="/resources/js/app.js" defer></script>
</head>

<body>

    <div class="logo">
        <img src="/src/logo.png">
    </div>
    
    <div id="register">
        <h1 class="title">Create new Account</h1>
        <p class="subtitle">Create your Account</p>
        <div class="input-group">
            <label class="inputTitle" for="username">Name</label>
            <input type="text" id="username" v-model="username" required>
        </div>
        <div class="input-group">
            <label class="inputTitle" for="email">Email</label>
            <input type="email" id="email" v-model="email" required>
        </div>
        <div class="input-group">
            <label class="inputTitle" for="password">Password</label>
            <input type="password" id="password" v-model="password" required>
        </div>
        <div class="input-group">
            <label class="inputTitle" for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" v-model="confirmPassword" required>
        </div>
        <button @click="register">Register</button>
        <p>{{ errorMessage }}</p>
        <p>Already have an Account? <a href="login.html">Login Here</a></p>
    </div>
    
    <div class="trapezoid"></div>

</body>

</html>